@charset "utf-8";

body{
    font-size: 15px;
    font-family: 'Noto Sans KR','Roboto','Nanum Gothic', sans-serif;
    width: 100%;
    color: #666;
    line-height: 1.7;
    font-weight: 400;
    min-width: 500px;
    overflow-y: visible;
}

#wrap{
    width: 100%;
 
}
    
#wrap img{}
/* gnb 메뉴 */

.menu-btn>a{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../images/nav_btn.png);
  }
.menu-btn>a.on{
     background-image: url(../images/nav_btn_off.png);
 }
.gnb{
    display: none;
    position: fixed;
    right: 0px;
    z-index: 999;
    width: 500px;
    height: 100%;
    min-height: 100%;
    background: rgba(165, 199, 129, 1);
    opacity:0.95;
    top: 0px;
    overflow-y: auto;
  }
 .gnb>div{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); 
     width: 100%;
     text-align: center;
  }
.gnb>div>ol>li>a{
     display: block;
     font-size: 50px;
     position: relative;
     z-index: 9000;
     text-align: center;
  
     color: #fff;
     line-height: 80px;
 }
.gnb>div>ol>li>.depth>ul>li a::after{
     display: block;
     width:100%;
     height: 1px; 
     margin-top: -6px;
     content:"" ;
     border-bottom:1px solid #000; 
     transform:scale(0); 
     transition:all 0.4s;
 }
.gnb>div>ol>li>.depth>ul>li:hover a:after{
    width: 100%;
   
     transform:scale(1);
 } 
.gnb>div>ol>li>.depth>ul{
    display: none;
 }

.gnb>div>ol>li>.depth>ul>li>a{
    display: inline-block;
    color: #333;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
 
 }



 header>h1{
    position: absolute;
    left: 20px;
    top: 30px;
    z-index:100;
    width: 156px;
    height: 71px;
    text-indent: -9999px;
    background-image: url(../images/logo.png);
}


/*  main*/
main>.main-header{
    position: relative;
    width: 100%;
    height: 100%;
}
main>.main-header>.main-img{width: 100%;}
main>.main-header>.main-img>.sub-bg{
    display: block;
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: 100%;
    
}
main>.main-header>.header-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    letter-spacing: -1px;
}
main>.main-header>.header-text>p:nth-child(2){
    font-size: 80px;
    font-weight: 900;
    line-height: 0.9;
}
main>.main-header>.header-text>p{
    font-size: 35px;
}
main>.main-header>.scrolldown{
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -30px;
    max-width: 100%;
}
   
main>.main-header>.scrolldown>.arrow{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    display: block;
    max-width: 100%;
}

.main-section{
    min-height: 400px;
    text-align: center;
}
.main-section>h2{
    font-size: 40px;
    font-weight: 500;
    color: #000;
    margin: 50px auto;
}
.main-section>.sub-img{
    width: 100%;
    position: relative;
}
.main-section>.sub-img>img{
    display: block; 
    width: 100%;
    height: 450px;
}

.main-section>.sub-img>.img-text>p>img{
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -65px;
}

.main-section>.sub-img>.img-text>h3{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:10;    
    color: #fff;
    font-size: 40px;
    line-height: 450px;
    letter-spacing: 5px;
}

/* 메인 히스토리*/
.main-section>.history{
    width: 1200px;
    margin: 0 auto;
    text-align: left;
      
}
.main-section>.history>.history-sub{
    width: 50%;
    
}
.main-section>.history>.history-left{
    height: 100%;
    float: left;
}
.main-section>.history>.history-right{
    float: right;
}
.main-section>.history>.history-sub>div{
    margin: 20px 0;
  
}
.main-section>.history>.history-sub>div>.year{
    color: #834e78;
    font-size: 30px;
    font-weight: 500;
}
.main-section>.history>.history-sub>div>.year::after{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ccc;
    content: "";
    margin-bottom: 10px;
}
/* 라이센스 관련 */
.main-footer>.license{
    padding: 55px 0;
    text-align: center;
    color: #010;
    font-size: 20px;
    font-weight: 500;
}
.main-footer>.license>ul{
    margin-top: 10px;
}
.main-footer>.license>ul>li{
    
    width: 20%;
    height: 100%;
    margin: 0 15px;
    text-indent: -99999px;
    background-repeat: no-repeat;

}
.main-footer>.license>ul>li>span{
    
    height: auto;
    background-repeat: no-repeat;
}
.main-footer>.license>ul>li:nth-child(1){
    background-image: url(../images/sub12-mark01.png);
}
.main-footer>.license>ul>li:nth-child(2)>span{
    background-image: url(../images/sub12-mark02.png);
}
.main-footer>.license>ul>li:nth-child(3)>span{
    background-image: url(../images/sub12-mark03.png);
}
.main-footer>.license>ul>li:nth-child(4)>span{
    background-image: url(../images/sub12-mark04.png);
}
.main-footer>.license>ul>li:nth-child(5)>span{
    background-image: url(../images/sub12-mark05.png);
}


 /* footer */
footer{
    margin: 100px 0 50px 0;
    font-size: 13px;
    height: 100%;
}
footer>div{ 
    
    display: flex;
    justify-content: space-around;
    top: 50%;
    float: left; 
    width: 15%; 
    
}
footer>.footer_logo>h2{
   
   width: 156px;
   height: 71px;
   text-indent: -9999em;   
   background-image: url(../images/footlogo.png);
    background-repeat: no-repeat;
}
footer>.info{
   
    width: 30%;
}
footer>.info>span>h3{
   position: absolute;
   left:-35px;
   width: 34px;
   height: 33px;
   text-indent: -9999px;
   background-image: url(../images/info_i.png);
}
footer>.info>span{
    position: relative;
 display: block;
 font-weight: normal;
 margin-left: 38px;
}
footer>.sns{
    position: relative;
    width: 104px;
    height: 52px;
   
}
footer>.sns>a{
 position: absolute; 
 float: left;
 display: block;
 width: 52px;
 height: 52px;
 text-indent: -9999px;
 background-repeat: no-repeat;
}
footer>.sns>a:nth-child(1){
 left:10px;
 background-image: url(../images/sns_01_on.png);
}
footer>.sns>a:last-child{
 right:-15px;
 background-image: url(../images/sns_02_on.png);
}







/* 반응형 */
@media screen and (max-width: 1199px){
main>.main-header>.header-text>p:nth-child(1){
    font-size: 28px;
    letter-spacing: -1px;
}
main>.main-header>.header-text>p:nth-child(2){
    font-size: 60px;
}
main>.main-header>.scrolldown{
    bottom: 20px;
    margin-left: -20px;
}
main>.main-header>.scrolldown>.arrow{
    width: 40px;
}

main>.main-section>.main-text>h2{
    font-size: 30px;
}
main>.main-section>.main-text>p{
    font-size: 18px;
}
main>.main-section>.sub-img{
    height: 300px;
}
main>.main-section>.sub-img>img{
    height: 300px;
}
main>.main-section>.sub-img>.img-text>h3{
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 4px;
}
main>.main-section>.sub-img>.img-text>p>img{
    top: 25%;
    
    margin-left: -40px;
    width: 80px;
}

footer>div{
    width: inherit;
    margin: 10px auto;
    float: none;
    clear:both;
    text-align: center;
}
footer>.info{
    width:100% ;
  
}

footer>.info>h3{
    position: absolute;
    left: 0;
}


@media (max-width: 640px){
.menu-btn>a{
    width: 30px;
    height: 30px;
    top: 10px;
    background-size: contain;
}
header>h1{
    width: 80px;
    top: 10px;
    background-size: contain;
    background-repeat: no-repeat;

}
.gnb{
    width: 85%;
}
.gnb>div>ol>li>a{
    font-size: 30px;
}
.gnb>div>ol>li>.depth>ul>li>a{
    font-size: 15px;
    letter-spacing: -0.5px;
}
    
main>.main-header>.header-text>p:nth-child(1){
    font-size: 18px;
}
main>.main-header>.header-text>p:nth-child(2){
    font-size: 30px;
    font-weight: 500;
}

main>.main-header>.scrolldown{
    bottom: 0;
    
    margin-left: -15px;
}
main>.main-header>.scrolldown>.arrow{
    width: 30px;
}
main>.main-section>.main-text>h2{
    font-size: 28px;
}
main>.main-section>.main-text>p{
    font-size: 16px;
}
main>.main-section>.sub-img{
    text-align: center;
    height: 100%;
}
main>.main-section>.sub-img>img{
    height: 300px;
}
main>.main-section>.sub-img>.img-text>h3{
    top: 48%;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 1;
}

main>.main-section>.sub-img>.img-text>p>img{
    top: 70px;
    left: 50%;
}
main>.main-section>.content-text>p{
    padding: 30px 0;
    font-weight: normal;
}
main>.main-footer>.content{
    padding: 30px 0;
    font-weight: normal;
}
main>.main-footer>.content>.pc{
    display: none;
}
main>.main-footer>.content>.mobile{
    display: block;
}
footer>.sns{
    width: 60px;
}
footer>.sns>a{
    
    width: 26px;
    height: 26px;
    background-size: contain;
}
footer>.sns>a:nth-child(1){
    left: 0px;
}
footer>.sns>a:nth-child(2){
    right: 0px;
}
}











